# Assignment - 1

Q1. Create one variable containing following type of data:   
(i) string   
(ii) list  
(iii) float  
(iv) tuple

Ans:  
(i) var_1 = 'sidharth'  
(ii) var_2 = [1,2,'ant','bat']   
(iii) var_3 = 3.14   
(iv) var_4 = (1,2,3)

Q2. Given are some following variables containing data:  
(i) var1 = ‘ ‘  
(ii) var2 = ‘[ DS , ML , Python]’  
(iii) var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]  
(iv) var4 = 1.   

What will be the data type of the above given variable.

Ans:  
(i) string  
(ii) string  
(iii) list  
(iv) integer

Q3. Explain the use of the following operators using an example:  
(i) /  
(ii) %  
(iii) //  
(iv) **

Ans:

In [17]:
print('(i) / - float arithmetic division operator')
print('5/2 --> ',5/2)
print('(ii) % - Module operator')
print('5%2 --> ',5%2)
print('(iii) // - Floor division operator')
print('5//2 --> ',5//2)
print('(iv) ** - Power operator')
print('5**2 -->',5**2)

(i) / - float arithmetic division operator
5/2 -->  2.5
(ii) % - Module operator
5%2 -->  1
(iii) // - Floor division operator
5//2 -->  2
(iv) ** - Power operator
5**2 --> 25

Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the element and its data type.

In [19]:
list_1 = [1,2.55,True,[2,5,'bat'],'ball',(6,7),5+3j,False,11,'cat']
count = 0
for element in list_1:
    count = count + 1
    print(count,'Element: ',element)
    print('Data type: ',type(element))

1 Element:  1
Data type:  <class 'int'>
2 Element:  2.55
Data type:  <class 'float'>
3 Element:  True
Data type:  <class 'bool'>
4 Element:  [2, 5, 'bat']
Data type:  <class 'list'>
5 Element:  ball
Data type:  <class 'str'>
6 Element:  (6, 7)
Data type:  <class 'tuple'>
7 Element:  (5+3j)
Data type:  <class 'complex'>
8 Element:  False
Data type:  <class 'bool'>
9 Element:  11
Data type:  <class 'int'>
10 Element:  cat
Data type:  <class 'str'>

Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many
times it can be divisible.

In [34]:
num_A = 125
num_B = 5
count = 0

while num_A % num_B == 0:
    while num_A >= num_B:
        quotient = num_A // num_B
        count = count + 1
        num_A = quotient
        
print(count)

3

Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is divisible by 3 or not.

In [39]:
list_2 = [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25]

for data in list_2:
    if data % 3 == 0:
        print(data,' is divisible by 3')
    else:
        print(data,' is not divisible by 3')

1  is not divisible by 3
2  is not divisible by 3
3  is divisible by 3
4  is not divisible by 3
5  is not divisible by 3
6  is divisible by 3
7  is not divisible by 3
8  is not divisible by 3
9  is divisible by 3
10  is not divisible by 3
11  is not divisible by 3
12  is divisible by 3
13  is not divisible by 3
14  is not divisible by 3
15  is divisible by 3
16  is not divisible by 3
17  is not divisible by 3
18  is divisible by 3
19  is not divisible by 3
20  is not divisible by 3
21  is divisible by 3
22  is not divisible by 3
23  is not divisible by 3
24  is divisible by 3
25  is not divisible by 3

Q7. What do you understand about mutable and immutable data types? Give examples for both showing
this property.

Ans:  
Mutable data type : The data type which allow it's values to be modified after it is created is known as mutable data type. Example: list   
Immutable data type : The data type which does not allow it's values to be modified after it has been creaated is known as immutable data type. Example: tuple

In [41]:
# Mutable data type example
lst = [1,2,3]
lst.append(4)
print(lst)

[1, 2, 3, 4]

In [47]:
# Immutable data type example
s = (1,2,3)
s[2] = 4

TypeError: 'tuple' object does not support item assignment